#titleBarContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.draggable {
  app-region: drag;
  -webkit-app-region: drag;
}

.nonDraggable {
  app-region: no-drag;
  -webkit-app-region: no-drag;
}

#titleBar {
  position: absolute;
  top: 0;
  height: env(titlebar-area-height, var(--fallback-title-bar-height), 30px);
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  user-select: none;
  position: relative;

  background: #775892;
  color: white;
}

#titleBarHamburger {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#titleBarHamburger > svg {
  display: block;
}

#titleBarMenu {
  min-width: max-content;
  width: 20%;
  position: absolute;
  top: 100%;

  background-color: #9f7ebc;
  color: white;
}

#titleBarMenu > .ReactCollapse--collapse {
  transition: height 250ms;
}

#hamburgerNav {
  display: flex;
  flex-direction: column;
  
  border-right: 2px solid #775892;
  border-bottom: 2px solid #775892;
  border-left: 2px solid #775892;
}

.hamburgerLink {
  text-decoration: none;
  color: white;
  font-size: large;
  display: block;
  padding: 5px;
}

.hamburgerLinkBottom {
  text-decoration: none;
  color: white;
  font-size: large;
  display: block;
  padding: 5px;
}

.hamburgerLinkWrapper {
  border-bottom: 1px solid #775892;
  transition: background-color 300ms ease;
}

.hamburgerLinkWrapper:hover {
  background-color: #ab88ca;
}

.stoplightButton {
  background: none;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 300ms ease;
}

.stoplightButton:hover {
  background-color: #9f7ebc;
}

#stoplightMinimize {
  border-right: 1px solid #9f7ebc;
}