#badgeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#badgeArrow {
    margin: 1px;
}

.hidden {
    visibility: hidden;
}

#badgeCircle {
    width: 45px;
    height: 45px;
    border: 2px solid var(--color-theme-black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filled {
    background-color: var(--color-theme-light);
}

#badgeCircleStar {
    fill: var(--color-theme-white);
    stroke: var(--color-theme-black);
}

#badgeLabel {
    font-weight: 500;
    font-size: medium;
    margin: 3px;
}